@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');
html {
  position: relative;
  min-height: 100%;
}
body {
    background-color: #ffffff;
    margin: 0 0 90px; /* bottom = footer height */
    font-family: 'Barlow', sans-serif !important;
  }
  
  .logo {
    width: 13em;
    height: 63px;
  }
  
  h1,h2,h3,h4,h5,h6 {
    font-weight: 700 !important;
    color: #000;
  }
  
  h1 strong {
    font-weight: 600;
    color: #4b8673;
  }
  
  .inputstyle {
    padding: 20px !important;
  }
  
  .whoop {
    background-color: #5fd068;
    width: 8em;
    font-size: 30px !important;
    color: #ffffff;
  }
  
  .caloriescont {
    background-color: #ffffff;
    padding: 30px;
  }
.cnt{
  color: #ff4d29;
  text-align: center;
}
  .caloriescont ul {
    padding: 0px;
  }
  
  .caloriescont ul li {
    list-style: none;
    margin-bottom: 20px;
    border-bottom: 1px solid #efefef;
    width: 80%;
    font-size: large;
    font-weight: 200;
  }
  .caloriescont h2 {
    color: #ff4d29;
    font-size: 2em;
    text-transform: capitalize;
    font-weight: 700;
    text-align: center;
  }
  
  .caloriescont h5 {
    color: #4b8673;
  }
  
  .servingsize {
    background-color: #000000;
    padding: 10px;
    color: #ffffff;
    font-size: x-large;
  }

.navbar {
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}
.navbar-brand{
  font-weight: 700;
  font-size: 26px;
  color: #092032;
}
.navbar-brand span{
  color: #ff4d29;
}
a{
  color: #092032;
  text-decoration: none;
  transition: all 0.4s ease;
  font-weight: 500;
}

.btn{
  padding: 9px 24px;
  font-weight: 500;
}

.btn-brand{
  background-color: #ff4d29;
  color: #ffffff;
  border-color: #ff4d29;
}
.btn-brand:hover {
  color: #ffffff;
  background-color: #c83b1e;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active{
  color: #ff4d29;
}

.slide1{
  background: linear-gradient(rgba(0, 0, 0, 0.854),rgba(9, 32, 50, 0.877)),url(../images/banner5.jpg);
}
.slide2{
  background: linear-gradient(rgba(0, 0, 0, 0.494),rgba(9, 32, 50,0.3)),url(../images/banner7.png);
}
.slide3{
  background: linear-gradient(rgba(0, 0, 0, 0.494),rgba(9, 32, 50, 0.808)),url(../images/banner6.jpg);
}
.bg-cover {
  background-position: center !important;
  background-size: cover !important;
  background-position: center !important;

}
.intro{
  margin-bottom: 40px;
}
.intro h6 {
  font-weight: 400;
  color: #ff4d29;
  margin: auto;
}
.intro p {
  max-width: 500px;
}
.service-box{
  padding: 32px;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
  text-align: center;
}
.service-box img{
  width: unset;
}
.service-box h5{
  margin-top: 24px;
  margin-bottom: 12px;

}
#reviews{
  background: linear-gradient(rgba(148, 59, 59, 0.8),rgba(192, 109, 109, 0.8)),url(../images/orange.jpg);
}
.review{
  min-width: 800px;
  margin:2% ;
  text-align: center;

}
.review img{
  width: 85px !important;
  border-radius: 100px;
  margin: auto;

}
.review h4,
.review p{
  color: #fff;
}
.review small{
  color: #000000 !important;
}
.review p{
  margin-top: 28px;
}
.review h4{
  margin-top: 16px;
}
.owl-dot.active span{
  background-color: #ff4d29 !important;
}
footer {
  padding-top: 80px;
  padding-bottom: 40px;
  margin-top: 10%;
  color: #000000;
  text-align: center;
  background: linear-gradient(rgba(73, 64, 64, 0.377),rgba(255, 255, 255, 0.976));
}
footer .navbar-brand{
  color: #ffffff;
  margin-bottom: 28px;
  display: inline-block;
}
.footer-top{
  margin-bottom: 40px;
}
.footer-bottom{
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  padding-top: 20px;
  

}

footer.social-links a{
  margin-left: 5px;
  margin: 5px;
  width: 34px;
  height: 34px;
  background-color: rgba(254, 254, 254, 0.022);
  display: inline-block;
  border-radius: 100%;
}

footer.social-links a{
  background-color: #ffffff;
  color: #ff4d29;
}
body.login{
  background-color: #092032;
}
form.mx-auto{
  width: 24%;
  background-color: rgb(255, 255, 255);
  padding: 50px;
  border-radius: 20px;
  margin-top: 150px;
}

.btn-login{
  background-color: #ff4d29;
  color: #ffffff;
  border-color: #ff4d29;
  width: 100%;
  border: none;
  border-radius: 50px;
}
.btn-login:hover {
  color: #ffffff;
  background-color: #c83b1e;
  
}
.loginreg{
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  padding-top: 20px;
  

}
body.register{
  background-color: #092032;
}

.btn-register{
  background-color: #ff4d29;
  color: #ffffff;
  border-color: #ff4d29;
  width: 100%;
  border: none;
  border-radius: 50px;
}
.btn-register:hover {
  color: #ffffff;
  background-color: #c83b1e;
}

form.register {
  display: inline-block; /* Allows the form to center */
  text-align: left; /* Aligns form items to the left within the centered container */
}

form-label {
  display: block; /* Makes labels display in block mode */
}

.btn-register{
  background-color: #ff4d29;
  color: #ffffff;
  border-color: #ff4d29;
  width: 100%;
  border: none;
  border-radius: 50px;
}
.btn-register:hover {
  color: #ffffff;
  background-color: #c83b1e;
}
.container-cal{
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(9,0,77,0.65),rgba(9,0,77,0.65)), url(../images/banner5.jpg);
  background-size: cover;
  background-position: center;
  padding: 10px 8%;
}
.content{
  margin-top: 14%;
  color: #fff;
  max-width: 620px;
}
.content h1{
  font-size: 40px;
  color: #fff;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 25px;
}
.content form{
  display: flex;
  align-items: center;
  background: white;
  border-radius: 5px;
  padding: 10px;
  margin-top: 30px;
}
.content form input{
  border: 0;
  outline: 0;
  width: 100%;
  font-size: 16px;
  padding-left: 10px;
}
.content form .btn{
  font-size: 15px;
  padding: 10px 30px;
  background-color: #ff4d29;
  color: #ffffff;
  border-color: #ff4d29;
}
.content form .btn:hover {
  color: #ffffff;
  background-color: #c83b1e;
}

/* .calories-cal .container{
  background: linear-gradient(rgba(0, 0, 0, 0.494),rgba(9, 32, 50, 0.808));
  border-radius: 10px;
  padding: 10px;
  margin-top: auto;
  font-size: medium;
}
.left-data{
  text-align: right;
  height: 100%;
  padding: 10px;

} */
.content2 form {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 5px;
  padding: 5px; /* Decrease padding */
}

.content2 form .label {
  font-size: 0.8rem; /* Decrease font size */
}

.content2 form .input {
  border: 0;
  outline: 0;
  width: 80px; /* Decrease input width */
  font-size: 14px; /* Decrease font size */
  padding: 5px; /* Decrease padding */
}

.content2 form .btn {
  font-size: 14px; /* Decrease font size */
  padding: 8px; /* Decrease padding */
}
.content2 form .btn:hover {
  color: #ffffff;
  background-color: #c83b1e;
}
#app{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    height: auto;
    width: auto;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9AA6A2;
}
.app {
  width: auto;
  height: auto;
  border-radius: 3rem;
  background-image: linear-gradient(
      to bottom, rgb(255, 255, 254), rgb(255, 255, 255)
  );
  box-shadow: -8px 4px 15px 3px rgba(0, 0, 0, 0.08);
  display:block;
  flex-direction: column;
  padding: 2rem 1.4rem;
  gap: 1.6rem;
}
.app h2 {
  text-align: center;
}
.rounded-card {
  padding: 1.2rem 1rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}


.rounded-card {
  padding: 1.2rem 1rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
#info {
  background: #f8f5f5;
  box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.08);
  gap: 1rem;
}
#info > h3 {
  text-align: center;
  color: #463b3c;
}

#info > div {
  display: flex;
  justify-content: space-evenly;
  color: #986F72;
  font-size: 0.9rem;
}
#info > div > span {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
#info > div > span > .material-symbols-outlined {
  font-size: 1.1rem;
}
#actions {
  background: #DBDADD;
}

#actions > div {
  display: flex;
  gap: 1rem;
}

#actions > span {
  color: #535960;
  padding: 0 0.5rem;
}

#btn {
  color: #A9FFCB;
  background-color: #09B57A;
  flex: 1;
  display: flex;
  height: 2.8rem;
  align-items: center;
  justify-content: center;
  border: 1px solid #A9FFCB;
  border-radius: 2rem;
  cursor: pointer;
  font-weight: bold;
}

section > h2 {
  margin-bottom: 0.8rem;
}
#weightChart {
  width: 2px; /* Decrease width */
  height: 2px; /* Decrease height */
  color: #c83b1e;
}
.weight-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.weight-table th,
.weight-table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.weight-table th {
  background-color: #f2f2f2;
  text-align: left;
  font-weight: bold;
}

.weight-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.weight-table tbody td {
  text-align: center;
}
/* Custom CSS styles for the form */
.container {
  color: #000;
  background-color: #ffffff; /* Set text color */
  width: auto;
  height: auto;
}



.alert-success {
  background-color: #d4edda; /* Set background color for success alert */
  color: #155724; /* Set text color for success alert */
}

.form .form-label {
  color: #fff; /* Set text color for form labels */
}

.form .form-control {
  background-color: #fff; /* Set background color for form controls */
  color: #000; /* Set text color for form controls */
}

.form .btn-brand {
  background-color: #ff4d29; /* Set background color for primary button */
  color: #fff; /* Set text color for primary button */
}

.form .btn-outline-dark {
  color: #000; /* Set text color for outline button */
}

.container{
  background-color: #dddddd00;
}
.x h3{
  color: #ff4d29;
}
